html {
    font-size: 100%; // Lets the user control the zoom level in the browser
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    margin: 10px;
    box-sizing: border-box;
    width: 100%;
    border: solid #5B6DCD 10px;
    padding: 50px;
}

.flex {
    display: flex;
}

.flex-jc-sb {
    justify-content: space-between;
}

.flex-js-c {
    justify-content: center;
}

.flex-ai-c {
    align-items: center;
}