/* CSS style study note */

html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


/* For the body element */

body {
    font-weight: regular;
    background: white; // For the Background of the page 
    margin: 0; // used to create space around elements, outside of any defined borders
    padding: 0; // used to create space around elements, inside of any defined borders
    font-family: 'public sans', sans-serif; // Font family
    font-size: $font-med; // you should use rem cause its better to find it divide px with 16
    color: $grayishBlue;
    line-height: 1.3; // line spacing between elements 
    &.noscroll {
        overflow: hidden;
    }
    @include breakpoints-up(Large) {
        font-size: $font-med;
    }
}

// style for heading elements
h1,
h2,
h3 {
    margin-top: 0;
}

// style for links
a,
a:visited,
a:hover {
    text-decoration: none;
}

// Spacing 
.container {
    max-width: 69.375rem;
    margin: 0 auto;
    &--pall {
        //padding on all sides
        padding-top: 4.375rem;
        padding-right: 1.5rem;
        padding-bottom: 4.375rem;
        padding-left: 1.5rem;
        @include breakpoints-up(Large) {
            padding-top: 6rem;
            padding-bottom: 6rem;
        }
    }
    &--py {
        padding-top: 4.375rem;
        padding-bottom: 4.375rem;
        @include breakpoints-up(Large) {
            padding-top: 6rem;
            padding-bottom: 6rem;
        }
    }
    &--px {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
    &--pt {
        padding-top: 4.375rem;
        @include breakpoints-up(Large) {
            padding-top: 6rem;
        }
    }
    &--pr {
        padding-right: 1.5rem;
    }
    &--pb {
        padding-bottom: 4.375rem;
        @include breakpoints-up(Large) {
            padding-bottom: 6rem;
        }
    }
    &--pl {
        padding-left: 1.5rem;
    }
}

// Flex Box
.flex {
    display: flex;
    &-jc-sb {
        justify-content: space-between;
    }
    &-jc-c {
        justify-content: center;
    }
    &-ai-c {
        align-items: center;
    }
}

// Buttons style 
button,
.button {
    font-size: $font-sm;
    color: $white;
    font-weight: bold;
    border: 0;
    cursor: pointer;
    border-radius: 50px;
    padding: 0.875rem 2.1875rem;
    background: linear-gradient(to right, $limeGreen, $brightCyan); // how to add gradient to button
    display: inline-block; // makes sure it follows the rules set for padding
    transition: opacity 300ms ease-in-out;
    &:hover {
        opacity: 0.75;
    }
}

// Visibility
.hide-for-mobile {
    // hides the button and menu for mobile
    @include breakpoints-down(medium) {
        display: none;
    }
}

.hide-for-desktop {
    //hide for desktop viewport widths
    @include breakpoints-up(Large) {
        display: none;
    }
}