/* Header design */

//header class selector
.header {
    // Open Hamburger styles 
    //The animation for the hamburger menu to open
    &.open {
        .header__toggle {
            >span:first-child {
                transform: rotate(45deg);
            }
            >span:nth-child(2) {
                opacity: 0;
            }
            >span:last-child {
                transform: rotate(-45deg);
            }
        }
    }
    .overlay {
        opacity: 0;
        position: fixed; // fix's it so it doesn't move while scrolling
        top: 0; // where the overlay starts measuring from the top
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient($darkBlue, transparent);
        visibility: hidden;
    }
    // the style for nav
    nav {
        position: relative;
        background-color: $white;
        padding-top: 1.0625rem;
        padding-bottom: 1.0625rem;
    }
    // to select the class within the header class
    // & is a parent selector
    &__logo {
        // the logo is an svg thats imported as an img
        img {
            width: 8.8125rem;
            height: 1.375rem;
        }
    }
    &__menu {
        background: $white;
        border-radius: 5px;
        position: absolute;
        width: calc(100% - 3rem);
        left: 50%;
        transform: translateX(-50%);
        margin-top: 1.5rem;
        // box-shadow: 4px 8px 25px gray;
        a {
            display: block;
            padding: 0.625rem;
            color: $darkBlue;
            font-weight: regular;
            text-align: center;
        }
    }
    // Mobile menu toggle
    &__toggle {
        // Mobile menu (cause were not gonna use menu for pc pages)
        //  child combinator ">"
        >span {
            display: block;
            width: 26px;
            height: 2px;
            background-color: $darkBlue;
            transition: all 300ms ease-in-out;
            transform-origin: 3px 1px;
            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }
    &__links {
        // border: 1px solid red;
        a {
            position: relative;
            color: $grayishBlue;
            font-size: $font-sm;
            transition: color 300ms ease-in-out;
            &:not(:last-child) {
                margin-right: 32px;
            }
            &::before {
                content: "";
                position: absolute;
                display: block;
                height: 3.5px;
                left: 0;
                right: 0;
                bottom: -30px;
                background: linear-gradient(to right, $limeGreen, $brightCyan);
                opacity: 0;
                transition: color 300ms ease-in-out;
            }
            &:hover {
                color: $darkBlue;
                &::before {
                    opacity: 1;
                }
            }
        }
    }
}